.custom-gallery {
    /* --pf-l-gallery--GridTemplateColumns: repeat(auto-fill, minmax(150px, 1fr)) !important; */
    --pf-v6-l-gallery--GridTemplateColumns--min: 220px !important;
  }

.custom-connection-card-header .pf-v6-c-card__actions{
    display: block !important;
    font-size: large !important;
}

.catalog-subtitle{
    font-size: smaller;
    color: var(--pf-v6-global--Color--200, #6a6e73);
    margin-top: 2px;
}

.custom-connection-card .pf-v6-c-card__body{
    height: 110px;
    overflow-y: auto;
}

.custom-connection-card{
    cursor: pointer;
}

.custom-connection-card:hover {
    border-color: #4394e5;
    --pf-v6-c-card--BorderColor: #4394e5;
    box-shadow: 0 0 0 1px #4394e5;
  }