    .pipeline-action-grid-container {
        height: "calc(100vh - 200px)";
        align-items: "stretch";
    }

    .pipeline-action-grid {
        border-right: 1px solid #ccc;
        padding-right: 10px;
        height: 100%;
        overflow-y: auto;
    }