name: Test Debezium platform (conductor)
on:
  push:
    paths:
      - "debezium-platform-conductor/**"
    branches:
      - main
  pull_request:
    paths:
      - "debezium-platform-conductor/**"
    branches:
      - main
jobs:
  # Checks that all commits contain sign-offs
  check-signed-commits:
    name: Check signed commits
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: debezium/dbz/.github/actions/check-dco@main

  build_cache:
    name: "Update Dependencies"
    needs: [ check-signed-commits ]
    runs-on: ubuntu-latest
    outputs:
      cache_key: ${{ steps.build-cache.outputs.cache_key }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Build and cache dependencies
        id: build-cache
        uses: ./.github/actions/build-cache
        with:
          working-directory: debezium-platform-conductor
          github-event-name: ${{ github.event_name }}
  check_style:
    name: "Checkstyle and Formatting"
    needs: [ build_cache ]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: debezium-platform-conductor
    steps:
      - name: Checkout Action
        uses: actions/checkout@v6

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Maven Repository
        id: cache-check
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{needs.build_cache.outputs.cache_key}}

      - name: "Checkstyle, Formatting, and Import Order Checks"
        run: >
          ./mvnw -B -ntp process-sources checkstyle:checkstyle
          -Dformat.formatter.goal=validate
          -Dformat.imports.goal=check
          -Dorg.slf4j.simpleLogger.showDateTime=true
          -Dorg.slf4j.simpleLogger.dateTimeFormat="YYYY-MM-dd HH:mm:ss,SSS"
  tests:
    name: "Run tests"
    needs: [ build_cache, check_style ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run tests
        uses: ./.github/actions/tests
        with:
          working-directory: debezium-platform-conductor
          cache-key: ${{ needs.build_cache.outputs.cache_key }}